.contenedor{
     display:grid;
    gap:10px;

    grid-template-columns:  170px 3fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "titulo titulo"
        "indice contenido"
        "referencias referencias";
}
.titulo{
    grid-area: titulo;
    background:#feffff;
    border:2px solid black;
    padding:20px;
    font-family: sans-serif;
    color: #2e2d2e;

    display:flex;
    align-items:center;
    justify-content: space-between;
}
.indice{
grid-area: indice;
    background:#eee1f3;
    border:2px solid black;
    padding:10px;
}
.contenido{
    grid-area: contenido;
    background:rgb(228, 228, 228);
    border:2px solid black;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.referencias{
    grid-area: referencias;
    background:#f5f4f1;
    border:2px solid black;     
    padding:10px;
    font-size: 20px;
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:8px;
}
.a{
    grid-area: contenido;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
