body {
    font-family: sans-serif;
    background: #ececec;
    color: #2f2f2f;
    margin: 0;
    padding: 20px;
}

.contenedor{
     display:grid;
    gap:10px;
background:#272727;
    grid-template-columns:  200px 3fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "titulo titulo"
        "indice contenido"
        "referencias referencias";
}
.titulo{
    grid-area: titulo;
    background:#d6d6d6;
    border:2px solid black;
    padding:20px;
    color: #2e2d2e;

    display:flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 15px;
}
.indice{
grid-area: indice;
    background:#ecd5ff;
    border:2px solid black;
    padding:10px;
    border-radius: 15px;
}
.contenido{
    grid-area: contenido;
     background:#ffffff;
    border:2px solid black;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;

}
.contenido h2 {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 5px;
}
.contenido img {
    max-width: 100%;
    height: auto;
}

.referencias{
    grid-area: referencias;
     background:#ecd5ff;
    border:2px solid black;     
    padding:10px;
    font-size: 20px;
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:8px;
    border-radius: 15px;
}
.encabezado{
    grid-area: contenido;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
